.btn {
  display: inline-block;
  color: $white;
  font-family: $main-font;
  font-size: 1.4rem;
  font-weight: 400;
  min-width: 120px;
  padding: 1rem 2.3rem;
  line-height: 1;

  text-decoration: none;
  background-color: $active-color;
  border: none;
  outline: none;
  border-radius: .5rem;
  cursor: pointer;

  transition: .2s;
  &:hover, &:focus {
    background-color: darken($active-color, 10%);
  }

  &_lg {
    min-width: 140px;
  }
}