.header {
  background-color: rgba(#222, .4);
  padding: 2rem 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }

  &__btns {
    display: flex;

    @media (max-width: $xs) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__btn {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $xs) {
      margin: 0 0 0.5rem 0;
    }
  }

  &__icon {
    position: relative;
    top: 3px;
    left: -5px;
    width: 17px;
  }
}