.main {
  padding: 1.6rem 0 5rem 0;
  &-wrapper {
    background: url('../img/main-bg.jpg') top center no-repeat;
    background-size: cover;
    min-height: 73.5vh;
  }

  &-descr {
    padding-bottom: 1rem;
    &__link {
      color: $white;
      font-size: 13px;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child) {
        &::after {
          display: inline-block;
          content: '>';
          margin-left: .5rem;
        }
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__bets {
    flex: 1;
  }

  &__sidebar {
    flex-basis: 360px;
    margin-left: 3rem;
  }
}