/* Navigation */
.nav {
  background: url('../img/nav/bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 2.5rem 0;

  &-wrapper {
    position: relative;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $white;
    font-family: $main-font;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    margin-right: 6.5rem;
    margin-top: -0.5rem;

    &-amp {
      color: $active-color;
      font-size: 2.4rem;
    }
  }

  &-menu {
    display: flex;
    padding: 0;
    margin: 0;

    &__item {
      list-style: none;
      border-right: 1px dashed rgba($white, .1);

      &:last-child {
        border-right: none;
      }

      &_lg {
        @media (max-width: $lg) {
          display: none;
        }
      }

      &_md {
        @media (max-width: $md) {
          display: none;
        }
      }

      &_sm {
        @media (max-width: $sm) {
          display: none;
        }
      }

      &_xs {
        @media (max-width: $xs) {
          display: none;
        }
      }
    }

    &__link {
      display: block;
      color: $white;
      font-family: $main-font;
      font-size: 1.4rem;
      text-decoration: none;
      transition: .2s;
      padding: 1.5rem 2rem;

      &:hover {
        color: $active-color;
      }
    }

    &-hamburger {
      height: 40px;
      width: 60px;
      position: relative;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      border-right: 1px dashed rgba($white, .1);
      border-left: 1px dashed rgba($white, .1);
      padding: 0;
      margin-left: auto;

      &_active &__line {
        background-color: transparent;
      }

      &_active &__line::after {
        transform: rotate(-45deg);
        background-color: $active-color;
      }

      &_active &__line::before {
        transform: rotate(45deg);
        background-color: $active-color;
      }

      &__line,
      &__line::after,
      &__line::before {
        display: block;
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        border-radius: 1px;
        background-color: $white;
        transition: all .2s ease-in;
      }

      &__line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::after {
          transform: translate(0, -5px);
        }

        &::before {
          transform: translate(0, 5px);
        }
      }
    }
  }

  &-dropdown {
    position: absolute;
    top: calc(100% + 2.5rem);
    right: 15px;
    background-color: $sub-active-color;
    margin: 0;
    padding: 1rem 0;
    width: 320px;
    z-index: 5;
    transform: translate(0, -7%);
    visibility: hidden;
    opacity: 0;
    transition: transform .4s, opacity .4s, visibility .5s;

    &_active {
      opacity: 1;
      transform: translate(0, 0);
      visibility: visible;
    }

    &__item {
      list-style: none;

      &::after {
        display: block;
        content: '';
        width: 90%;
        height: 1px;
        background-color: #487389;
        margin: 0 auto;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &_lg {
        display: none;

        @media (max-width: $lg) {
          display: block;
        }
      }

      &_md {
        display: none;

        @media (max-width: $md) {
          display: block;
        }
      }

      &_sm {
        display: none;

        @media (max-width: $sm) {
          display: block;
        }
      }

      &_xs {
        display: none;

        @media (max-width: $xs) {
          display: block;
        }
      }
    }

    &__link {
      display: block;
      color: $white;
      font-size: 1.4rem;
      text-decoration: none;
      padding: 1.5rem 2.5rem;
      transition: .2s;

      &:hover {
        background-color: rgba(#000, .2);
      }
    }
  }
}

.hover {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background: rgba(#000, 0);
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    transition: .4s;
  }

  &_active {
    &::after {
      background: rgba(#000, .6);
      height: 100%;
    }
  }
}